{{ define "Show" }}
  {{ template "Header" }}
    {{ template "Menu"  }}
    <h2> Recipe {{ .ID }} </h2>
      <p>Name: {{ .Name }}</p>
      <p>Symbol:  {{ .Symbol }}</p>
      <p>Side:  {{ .Side }}</p>
      <p>GainRatio:  {{ .GainRatio }}</p>
      <p>LossRatio:  {{ .LossRatio }}</p>
      <p>Quantity:  {{ .Quantity }}</p>
      <p>Frequency:  {{ .Frequency }}</p><br /> <a href="/edit?id={{ .ID }}">Edit</a></p>
  {{ template "Footer" }}
{{ end }}
