{{ define "Show" }}
  {{ template "Header" }}
    {{ template "Menu"  }}
    <h2> Recipe {{ .ID }} </h2>
      <p>Name: {{ .Name }}</p>
      <p>Symbol:  {{ .Symbol }}</p>
      <p>Side:  {{ .Side }}</p>
      <p>GainRatio:  {{ .GainRatio }}</p>
      <p>LossRatio:  {{ .LossRatio }}</p>
      <p>Quantity:  {{ .Quantity }}</p>
      <p>Frequency:  {{ .Frequency }}</p><br />
    	  <p>Active: {{ .Active }}</p>
      <a href="/edit?id={{ .ID }}">Edit</a></p>
    	  <br/>
		<a href="/cook?id={{ .ID }}">Cook</a>
		<br/>
		<a href="/test_cook?id={{ .ID }}">Test</a>
  {{ template "Footer" }}
{{ end }}
